/* Author: Felipe reyes  => { Nekosor } Github*/
h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

table {
  margin-bottom: 16px;
  width: 100%;
  

  td {
    padding: 8px;
  }

  label {
    font-weight: bold;
  }

  input,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
table {
  border:solid 1px rgb(255, 255, 255);
}
.fotito{
  display:block;
  margin-left: auto;
  margin-right: auto;
  max-width: 24%;
  padding: 1em 1em 0em 1.4em;
 filter: drop-shadow(0 0 1rem rgba(255, 234, 0, 0.46));
}

.contenedor-foto{padding: 1em 1em 0em 1.4em;
  filter: drop-shadow(0 0 1rem rgba(178, 255, 252, 0.743));
}