<!-- login.component.html -->
<div class="login-container">
    <div class="login-card">
        <h2 class="login-title">Inicia Sesión</h2>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
            <div class="login-form-field">
                <label for="username" class="login-form-label">Usuario</label>
                <input id="username" type="text" pInputText formControlName="username" />
            </div>
            <div class="login-form-field">
                <label for="password" class="login-form-label">Contraseña</label>
                <input id="password" type="password" pInputText formControlName="password" />
            </div>
            <div class="login-form-actions">
                <button pButton type="submit" label="Ingresar"></button>
                <button pButton type="button" label="Registrate" (click)="onRegister()"></button>
            </div>
        </form>
    </div>
</div>

